
/*CSS Reset*/
/*Allows to easily mainpulate the sizes and positioning of elements*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
  height: 100%;
}


/*Google Font*/
body {
	font-family: 'M Plus Rounded 1c', sans-serif;
	background-color: #101019;
	color: white;
}


.hero::before {
  content: "";
  background-image: url('https://iili.io/H1LBHhu.png');
  background-repeat: no-repeat;
  background-position: right top;
  position: absolute;
  top: 10px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: 30rem 24rem;
  opacity: 100;
  transition-duration: all .4s ease-in-out;
}

#website{
/*  display: flex;*/
  flex-wrap: wrap;
  border: 1px solid rgba(255,255,255, 0.1);;
  background-size: 100% 100%;
  position: relative;
  background-color: rgba(255,255,255, 0.02);
  border-radius: 55px;
/*  margin: 0px auto;*/
}

#website:hover::before{
	opacity: 1;
}

#website::before {
	background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255,255,255, 0.06), transparent 40%);
	border-radius: inherit;
	content: "";
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 0;
	opacity: 0;
	transition: opacity .4s;
}



#website-text{
	font-family: 'Roboto', sans-serif;
	font-size:33px;
  font-weight: 100;
  margin: 0px auto;
  background-size: fill;
 	object-fit: fill;
 	line-height: 90%;
}

.sample-work p {
	font-family: D-DIN Condensed,sans-serif;
  line-height: 92.4%;
  padding-top: 20px;
}

.imgBox {
    padding: 0px;
	margin-left: 10%;
	margin-right: 10%;
/*    height: 270px;*/
}

.img-container{
	border-radius: 30px;
	width: 275px; 
	height: 350px;
	position: relative;
	overflow: hidden;
	
}

.img-container img{
  background-size: fill;
  overflow: hidden;	
  object-fit: fill;
  position: relative;
  display: none;
  margin: 0px auto;

 }


.img-container{
	margin: 0px auto;

}



#header-text{
	font-size: 50px;
	font-weight: bolder;
	-webkit-font-size: 50px;
	-webkit-font-weight: bolder;
	-moz-font-size: 50px;
	-moz-font-weight: bolder;
	-ms-font-size: 50px;
	-ms-font-weight: bolder;
}

/*.heading-gradient {
  font-size: 100px;
  background: -webkit-linear-gradient(#e41bf6, #82c0f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/

.website-gradient {
  	background: linear-gradient(-60deg, #58bbd0, #58bbd0, #fff, #fff);
	background-size: 400%;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 3s ease-in-out infinite;
	-moz-animation: animated_text 3s ease-in-out infinite;
	-webkit-animation: animated_text 3s ease-in-out infinite;
}

.logo-gradient {
  	background: linear-gradient(-60deg, #ef7f0f, #ef7f0f, #fff, #fff);
	background-size: 400%;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 3s ease-in-out infinite;
	-moz-animation: animated_text 3s ease-in-out infinite;
	-webkit-animation: animated_text 3s ease-in-out infinite;
}

.banner-gradient {
  	background: linear-gradient(-60deg, #9df942, #9df942, #fff, #fff);
	background-size: 400%;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 3s ease-in-out infinite;
	-moz-animation: animated_text 3s ease-in-out infinite;
	-webkit-animation: animated_text 3s ease-in-out infinite;
}
p {
   font-size: 1rem;
   font-family: 'Circular Std Book', sans-serif;
   color: #c4c4c4;
}

nav {
/*	background-color: #101019;*/
	border-bottom: 1px solid hsla(0,0%,76.9%,.25);
	border: 1px solid hsla(0,0%,76.9%,.25);
	border-color: #2b2b35;
  	font-family: "Poppins", sans-serif;
  	backdrop-filter: blur(30px);
	position: absolute;
	border-radius: 15px;

/*other browseR blur*/
	-webkit-backdrop-filter: blur(30px);
   -moz-backdrop-filter: blur(30px);
   -ms-backdrop-filter: blur(30px);
  
	
}

.opacity {
    background: rgba(140, 140, 140, 0.1);
}

nav .nav, nav .nav-trademark {
	margin: 1rem;
	display: inline;


}


.work-gradient {
	
  background: -webkit-linear-gradient(-45deg,#a9f2f1, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



div.text {
	background: linear-gradient(-45deg, #e41bf6, #e41bf6, #82c0f2, #82c0f2);
	background-size: 300%;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	font-size: 100px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 5s ease-in-out infinite;
	-moz-animation: animated_text 5s ease-in-out infinite;
	-webkit-animation: animated_text 5s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

a {
	color: white;
	text-decoration: none;
    transition: all .3s ease-in-out;
  	position: relative;
  	-webkit-filter: grayscale(100%);
  	filter: gray;
/*    padding: -2em;*/
}

a:hover {
  color: #6cfbf6;
  text-decoration: none;
  -webkit-filter: grayscale(0%);
  filter: gray;
}

.body-links::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  
}

.body-links:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

button {
    transition-property: height, visibility;
    transition-duration: .35s;
}


#body-links {
	
	text-decoration: none;
	width: 50rem;

}

h5 {
	font-family: 'Roboto', sans-serif;
	text-transform: lowercase;
}

h3 {
	font-family: 'Circular Std Book', sans-serif;
	color: #c4c4c4;
}


#footer {
	border-top: 1px solid hsla(0,0%,76.9%,.25);
	height: 100%;
 	background-color: #101019;           		      
}

#gmap_canvas {
	height: 60vh;
	width: 100%;
}

.right-nav {
	text-align: right;
	position: relative;
	
}



ul {
    list-style-type: none;
}


.hero-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 60px;
    background: #000;
    color: #fff;
}
.hero-text h1{
    font-size:5vw;
    font-weight: 300;
}
.hero-text h1 span{
    color: #88ce02;
    font-weight: 700;
}
.cursor{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    color: #fff;
    font-family: "Poppins", sans-serif;
    pointer-events: none;
}


.cursor-text{
/*    text-transform: uppercase;*/
    font-size: 14px;
    font-weight: 400;
}
.cursor-text .char {
    position: absolute !important;
}




/*Cursor Animation End*/


/*/*PRELOADER*/

.preloader {
	position: fixed;
	z-index: 999999;
	background: #f1f1f1;
	height: 100%;
	width: 100%;


}


.content {
	position: absolute;
	top:calc(50vh);
	left: calc(50vw);

}

.content h2 {
	color: #FFF;
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: #e8e8e5;
	-webkit-text-stroke: 2px transparent;
}

.content h2:nth-child(2) {
	color: #232323;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


/*PRELOADER* END/
*/

/*Text Animation*/



#container {
  color:#d6d6d6;
  text-transform: uppercase;
  font-size:15px;
/*  font-weight:bold;*/
  padding-top:.5%; 
  position:fixed;
/*  width:100%;*/
/*  bottom:45%;*/
 
}

#flip {
  height:20px;
  overflow:hidden;
}

#flip > div > div {
  color:#8e8e92;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 15s linear infinite;
}

#flip div div {
  background:transparent;
}
#flip div:first-child div {
  background:transparent;
}
#flip div:last-child div {
  background:transparent;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}




/*Text Animation*/

@media screen and (max-width: 1000px) {
.hero::before {
  opacity: 0.20;
  transition: all .4s ease-in-out;
}

}

@media screen and (max-width: 730px) {

.img-container {
	width: 235px; 
	height: 300px;
	margin: 0px auto;
}

#website-text{
	text-align: center;
}

div.text {
  font-size: 70px;
  font-weight: bolder;
}

}

/*Image Box Get to know more*/
.img-container-about-me{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}
.img-container-about-me .box {
  position: relative;
  width: 200px;
  height: 200px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}
.img-container-about-me:hover .box {
  transform: rotateY(25deg);
}
.img-container-about-me .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.img-container-about-me .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.img-container-about-me .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img-container-about-me .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,#f00,#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.img-container-about-me .box:hover .imgBx:before {
  opacity: 1;
}
.img-container-about-me .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-container-about-me .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.img-container-about-me .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.img-container-about-me .box:hover .content h2 {
  transform: translateY(0px);
}
.img-container-about-me .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.img-container-about-me .box:hover .content p {
  transform: translateY(0px);
}
/*Image Box Get to know more*/